.checkout_ordercart {display: flex;
flex-direction: column;
padding: 20px;
width: fit-content;
left: 80%;
background-color: rgb(255, 255, 255);
border-radius: 10px;
position :fixed;

}
.checkout {padding: 10px 25px;}
.checkout  h2  {color: rgb(3, 15, 20);}
.checkout_orderBtn {
    margin-top : 15px;
    width: 200px;height: 40px;
    background-color: rgb(21, 255, 0);
   border-radius: 8px;

}
.checkout_orderBtn:hover{
 background-color: rgb(6, 139, 40);color: white;

} 
.checkout_saveBtn {
    margin-top : 30px;
    width: 200px;height: 40px;
    background-color: rgb(251, 255, 0);
   border-radius: 8px;

}
.checkout_ordercart >h3{
    color: rgb(13, 67, 185); 
}
.checkout_saveBtn:hover{
    background-color: rgb(194, 197, 36);color: white;

}