.order{
    padding: 20px;
}
.order_content{
    display: flex;justify-content: space-around;flex-wrap: wrap;
}
.order_table {
    width:65%;
    margin: 20px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  .order_table tr:nth-child(even) {
    background-color: rgba(47, 196, 255, 0.521);
  }
  .order_table tr:nth-child(odd) {
   background-color: white;
  }
  .order_table th {
    background-color: black;
    color: white;}
    .order_total{
        background-color: rgb(50, 252, 0);
        border: white 3px solid;border-radius: 8px;
        width: 15%;      height: 120px;
        padding: 15px;justify-content: space-evenly;
        margin: 20px; font-weight: 700;display: flex;flex-direction: column;
    }
    .order_total > button{
      height: 30px;
    }